* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-align: center;
}

.img-container {
    width: 97%;
    height: 97%;
    display: inline-block;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px #686565;
    position: absolute;
    top: 50%;
    left: 50%;
}

.img {
    height: 100%;
    width: 100%;
    background-size: cover;

}

.rome {
    background-image: url("../img/rome.jpg");
    background-position: bottom;
}

.copenhagen {
    background-image: url("../img/copenhagen.jpg");
}

.tokyo {
    background-image: url("../img/tokyo.jpg");
    background-position: bottom;
}

.layer {
    background-color: rgba(39, 39, 39, 0.59);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span {
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-shadow: 3px 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
