* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}


nav {
    background-color: lightgrey;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

ul {
    display: inline;
}

.user {
    position: absolute;
    right: 10px;
    margin-right: 10px;
}

li {
    display: inline-block;
    font-size: 34px;
    text-transform: uppercase;
    color: #4d4d4d;
    line-height: 50px;
    text-align: center;
    padding-left: 10px;
}


li:hover{
    border-bottom: 2px solid #4d4d4d;
    line-height: 46px;
    cursor: pointer;
}

a:visited, a:link{
    color: #4d4d4d;
    text-decoration: none;
}

main {
    position: relative;
    top: 55px;
}


section {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-align: center;
}

.img-container {
    width: 97%;
    height: 97%;
    display: inline-block;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px #686565;
    position: absolute;
    top: 50%;
    left: 50%;
}

.img {
    height: 100%;
    width: 100%;
    background-size: cover;

}

.rome {
    background-image: url("../img/rome.jpg");
    background-position: bottom;
}

.copenhagen {
    background-image: url("../img/copenhagen.jpg");
}

.tokyo {
    background-image: url("../img/tokyo.jpg");
    background-position: bottom;
}

.layer {
    background-color: rgba(39, 39, 39, 0.59);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span {
    color: white;
    font-size: 50px;
    text-shadow: 3px 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
